.salon {
  display: flex;
}

.mapa {
  top: 0;
}

.card-background {
  width: 400px;
  height: 300px;
}

.card-agendamento {
  background: linear-gradient(40deg, #B28228 83%, #FFDF00 99%);
  border: 1px solid;
  margin: $split-item--padding-v__mobile * 0.5;
}

.image-card {
  width: 50vw;
}

.card-product {
  overflow: hidden;
  // height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
}

.card-product img {
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  padding: 16px;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.split-wrap {
	margin-top: -($split-item--padding-v__mobile * 0.5);

	&:last-of-type {
		margin-bottom: -($split-item--padding-v__mobile * 0.5);
	}

    &:not(:last-of-type) {
        margin-bottom: $split-item--padding-v__mobile * 0.5;
    }

	.split-item {
		padding-top: $split-item--padding-v__mobile * 0.5;
		padding-bottom: $split-item--padding-v__mobile * 0.5;
		display: flex;
		flex-direction: column;

		.split-item-image {
			position: relative;
			width: 100%;

			img,
			svg,
			video {
				width: auto;
				height: auto;
				max-width: 100%;
				overflow: visible;
			}

			&.split-item-image-fill {

				img,
				svg,
				video {
					width: 100%;
				}
			}
		}
	}
}

@include media( '<=medium' ) {

  .mapa {
    display: none;
  }

	.split-wrap {

		.split-item {

			.split-item-content {
				margin-bottom: $split-item--inner-padding-v_mobile;
			}
		}

		&.invert-mobile {

			.split-item {

				.split-item-content {
					order: 1;
					margin-bottom: 0 !important;
				}

				.split-item-image {
					margin-bottom: $split-item--inner-padding-v_mobile;
				}
			}
		}
	}
}

@include media( '>medium' ) {
	.split-wrap {
		margin-top: -($split-item--padding-v__desktop * 0.5);

		&:last-of-type {
			margin-bottom: -($split-item--padding-v__desktop * 0.5);
		}

	    &:not(:last-of-type) {
	        margin-bottom: $split-item--padding-v__desktop * 0.5;
	    }

		.split-item {
			padding-top: $split-item--padding-v__desktop * 0.5;
			padding-bottom: $split-item--padding-v__desktop * 0.5;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: flex-start;

			.split-item-content {
				flex-shrink: 0;
				width: ($container--width-sm * 0.5) - $split-item-content--padding-h;
				margin-bottom: 0;
				margin-right: 0;
			}

			.split-item-image {
				min-width: ($container--width-sm * 0.5) - $split-item-image--padding-h;
			}
		}

		&:not(.invert-desktop) .split-item:nth-child(even),
		&.invert-desktop .split-item:nth-child(odd) {
			justify-content: flex-end;

			.split-item-content {
				order: 1;
				margin-left: $split-item--inner-padding-h;
				margin-right: 0;
			}
		}

		&:not(.invert-desktop) .split-item:nth-child(odd),
		&.invert-desktop .split-item:nth-child(even) {

			.split-item-image {

				svg,
				video {
					margin-left: auto;
				}
			}
		}

		&.align-top {

			.split-item {
				align-items: flex-start;
			}
		}
	}
}

@include media( '>large' ) {

	.container {

		.split-wrap {

			.split-item {

				.split-item-content {
					width: ($container--width * 0.5) - $split-item-content--padding-h;
				}

				.split-item-image {
					min-width: ($container--width * 0.5) - $split-item-image--padding-h;
				}
			}
		}
	}
}
