<div class="footer">
  <div class="page-footer-log">

    <%= mail_to "contact@formidable.group", target: "_blank", style: 'text-decoration: none;', class: "social-icon footer-icons" do %>
      <i class="fas fa-envelope" id="mail"></i>
    <% end %>
    <%= link_to "#", target: "_blank", style: 'text-decoration: none;', class: "social-icon footer-icons" do %>
      <i class="fa-brands fa-instagram" id="mail"></i>
    <% end %>
    <%= link_to "#", target: "_blank", style: 'text-decoration: none;', class: "social-icon footer-icons" do %>
      <i class="fa-brands fa-linkedin" ></i>
    <% end %>
  </div>
  <div class="footer-copyright" id="copyright">© 2022 Copyright Formidable 
    <div>
      <%= link_to "#", target: "_blank", style: 'text-decoration: none;' do %>
        <div class="footer-copyright" id="copyright"> By ❤️ Will Theard</div>
      <% end %>
    </div>
  </div>
</div>
