<div class="banner-home-page">
  <div class="container">
    <h5>Selecione a(s) categoria(s) oferecida(s) pelo salão</h5>
      <%= simple_form_for [ @salon ] do |f| %>
    
    <% end %>
  </div>
</div>