.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 9999;
}

.alert-form {
  border: red 1px solid;
  background-color: rgba(255, 128, 128, 0.493);
  color: rgb(146, 0, 0);
  padding: 8px;
  margin: 6px 0;
  border-radius: 8px;
  font-size: 12px;
}

.is-invalid {
  border: 1px red solid;
}