.button-second {
  border-radius: 10px;
  padding: 5px;
  width: 100px;
  background: $rdark;
  border: none;
  color: white;
  box-shadow: 0 0 10px rgba(255,255,255,.2);
  text-align: center;
  margin: 5px;
  font-size: 12px;
  font-family: $title;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.button-second:hover {
  background: $rlight;
  text-decoration: none;
  color: white;
  box-shadow: 0 0 10px rgba(255,255,255,0.5);
}

.sign {
  background-color: $rpurple;
  border-radius: 10px;
  color: black;
  background: linear-gradient(#3D3F8F, $rpurple 30%);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 10%);
  margin-bottom: 15px;
  width: 100%;
}

.sign:hover {
  background: linear-gradient(#3D3F8F, #7E80C8 30%);
}

//////

.btn-second{
  border-radius: 10px;
  font-size: 12px;
  padding: 5px;
  border: none;
  color: white;
  font-family: $title;
  background-color: grey;
  box-shadow: 0 0 3px lightgrey;
}

.btn-second:hover{
  box-shadow: 0 0 3px grey;
}



