.container-page-modals {
  background: $linear-background-2;
  padding-bottom: 60px;
  position: relative;
  min-height: 100vh;
  display: flex;
  margin: auto;
  justify-content: center;
}

.container-challenge-background {
  background: $linear-background-2;
}

.container-tab-content-modal {
  width: 100%;
  position: absolute;
  bottom: 0;
}


