<div class="banner-home-page">
  <% if @salons.length > 0 %>
    <div class="salon">
      <div class="col-6">
          <%= render 'shared/salon' %>
      </div>
      <div class="mapa col-6">
        Mapa
      </div>
    </div>
  <% else %>  
    <div class="container"> 
      <h5>No salon to display</h5> 
    </div> 
  <% end %> 
</div> %>
